.block {
    padding: 14px;
    margin: 5px 0;
    background-color: white;
    border-radius: 7px;
}
.block.bordered {
    border: 1px solid #ccc;
}
.block.flex-column {
    display: flex;
    flex-direction: column;
}
