.bar-container {
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
}
.bar {
    height: 5px;
    width: 100%;
    background: #7c7c7c;
}
.bar-button {
    outline: 2px solid #656565;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    background: #ccc;
    cursor: pointer;
}
.bar-button > .tip {
    position: absolute;
    top: -18px;
    background: #fff8d9;
    border: 1px solid black;
    font-size: 12px;
    padding: 0 2px;
}
