.brush {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border: 3px solid #8f8f8f;
}
.brush.selected {
    outline: 4px solid #ff7600;
}
