<body style="
    background: #595959;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial';
">
    <div id="menu" style="display: none;
    cursor: pointer;
    flex-direction: column;
    width: 128px;">
        <div id="createBlockButton" style="
        background: #fff;
        border-radius: 5px;">
            Create block
        </div>
        <div id="createButtonButton" style="
        background: #fff;
        border-radius: 5px;">
            Create button
        </div>
    </div>
</body>
